html{
    /*background-image:url(/img/baleares.webp);
    background-size: cover;*/
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(220, 220, 220);
    }

ul{
    margin: auto;
    display: flex;
    max-width: fit-content;
    padding: 10px;
    list-style: none;
}

h1{
    text-align: center;
    
}

.subtitulo{
    text-align: center;
    margin-bottom: 20px;
}

.contacto{
    text-align: center;
    font-weight: bold;
    font-size:x-large;
}

.caja{
    margin: auto;
    max-width: 800px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        inset -6px -6px 10px -1px rgba(255, 255, 255, 0.6);
}

h1, h2, h3, h4{
    text-align: center;
    
}

p{
    margin-left: 20px;
    margin-right: 20px;
    
}

.tx{
    text-align: center;
}

.texto{
    text-align: justify;
    max-width: 800px;
    margin: auto;
}

.imagen{
    padding:10%;
    margin: auto;
}

footer{
    text-align: center;
    font-size: small;
    
}

a{
    text-decoration: none;
    font-weight: bold;
}



